.sing-up {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: min(375px, 100%);
  gap: 24px;
  font-size: 14px;
  padding: 0 clamp(18px, 1.5vw, 24px) 24px;
}

.form-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-header h1 {
  text-align: center;
  width: 221px;
  font-size: 18px;
  height: 28px;
}

.form-header p {
  width: 221px;
  text-align: center;
}

.sing-up input {
  height: 48px;
  width: min(327px, 90vw);
}

.legal-link,
.nav-link {
  color: var(--text-color);
}

.legal-disclaimer {
  font-size: 12px;
  text-align: center;
  color: var(--light-text-color);
  width: 337px;
}

.legal-link {
  text-decoration: none;
}

.sing-up + span {
  font-size: 14px;
  line-height: 20px;
}

.email-warning {
  position: absolute;
  top: 0;
  right: 0;
}
.email-warning .svg-x {
  height: 16px;
  width: 16px;
}
.email-warning .svg-x path {
  fill: var(--primary-red);
}
.password-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 21px;
  display: flex;
  align-items: center;
}

@media (max-width: 376px) {
  .sing-up button {
    margin-top: 8px;
  }
}

input,
textarea,
select {
  font-size: 16px;
}

.input-wrapper {
  transform: scale(0.95);
}
