:root {
  --header-height: 68px;
}

.nav-expanded,
.nav-expanded main {
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
}

.nav-expanded .profile {
  position: static;
}

.desktop,
.mobile {
  width: 100%;
  background-color: var(--background-main);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  padding: clamp(6px, 0.8vw, 12px) clamp(12px, 1.5vw, 24px);
  position: relative;
  z-index: 1001;
}
.desktop {
  height: var(--header-height);
}

.mobile {
  height: 30px;
}

.auth-page {
  height: 48px;
}

.mobile.auth-page {
  height: 24px;
}

header a {
  text-decoration: none;
  display: flex;
}

.desktop nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  height: 100%;
  font-size: 18px;
}

.desktop > .hamburger-menu {
  display: none;
}

.mobile .desktop-nav {
  display: none;
}

.expanded {
  width: 80vw;
  align-self: flex-end;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
  transform: translateX(100%);
  animation: slideIn 0.3s ease forwards;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  backdrop-filter: blur(4px);
  overflow: hidden;
  height: 100vh;
  opacity: 0;
  animation: fadeIn 0.3s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.expanded .mobile-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 80vw;
  height: calc(100vh - 48px);
  margin-top: 48px;
  top: 0;
  right: 0;
  background-color: var(--background-root);
  animation: slideInNav 0.4s ease 0.1s forwards;
  opacity: 0;
  transform: translateY(-10px);
}

@keyframes slideInNav {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.expanded a {
  font-size: 18px;
  margin-top: 10px;
  padding: 8px;
  display: block;
  width: 92%;
  color: var(--light-text-color);
  background-color: var(--background-main);
  height: 44px;
  opacity: 0;
  transform: translateX(20px);
  cursor: pointer;
  animation: slideInLink 0.3s ease forwards;
}

.expanded a:nth-child(1) {
  animation-delay: 0.2s;
}
.expanded a:nth-child(2) {
  animation-delay: 0.25s;
}
.expanded a:nth-child(3) {
  animation-delay: 0.3s;
}
.expanded a:nth-child(4) {
  animation-delay: 0.35s;
}

@keyframes slideInLink {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.hamburger-menu {
  height: 48px;
  width: 48px;
  background-color: transparent;
  border: none;
  position: absolute;
  right: clamp(12px, 1.5vw, 24px);
  z-index: 1001;
  transition: transform 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hamburger-menu:hover {
  transform: scale(1.1);
}

.avatar {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  transition: transform 0.3s ease;
  object-fit: cover;
}

.hamburger-menu .avatar:hover {
  transform: scale(1.1);
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 7px;
}

.svg-icon {
  height: 24px;
  width: 18px;
}

.svg-sidekick {
  width: 71px;
  height: 15px;
}

@media (max-width: 768px) {
  :root {
    --header-height: 48px;
  }
  .mobile.expanded {
    height: 40px;
  }
  .expanded .mobile-nav {
    margin-top: 40px;
    height: calc(100vh - 24px);
  }

  .hamburger-menu {
    height: 24px;
    width: 24px;
  }
  .svg-hamburger {
    height: 14px;
    width: 14px;
  }
  .svg-icon {
    height: 12px;
    width: 9px;
  }

  .svg-sidekick {
    width: 36px;
    height: 7px;
  }
}
