.main-aside .frame {
  padding: 24px;
  margin-bottom: 12px;
}

.main-aside {
  position: sticky;
  top: 88px;
  height: calc(100vh - 88px);
  width: 341px;
  font-size: 16px;
}

.main-aside section {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.main-aside h3 {
  font-size: 16px;
}

@media (max-width: 1450px), (max-height: 910px) {
  .main-aside {
    display: none;
  }
}
