.svg-x path,
.svg-notfound path,
.svg-pen path,
.svg-sidekick path,
.svg-eye path,
.svg-eye-closed path,
.svg-expand path,
.svg-email path,
.svg-hamburger path,
.svg-person path,
.svg-trash path,
.svg-upload-file path {
  fill: var(--svg-color);
}

.svg-comment path {
  stroke: var(--svg-color);
}

.svg-heart-liked path {
  fill: var(--svg-color);
  stroke: none;
}
.svg-heart-disliked path,
.svg-add path,
.svg-arrow-left path {
  fill: none;
  stroke: var(--svg-color);
}
