.desk-container {
  height: calc(100vh - 38px - 68px);
  width: 100vw;
  display: flex;
  flex-direction: row;
  overflow: visible;
}

.desk-container > div {
  height: 100%;
}

.desk-aside {
  height: calc(100% - 68px);
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--border-color) transparent;
}

.desk {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.notification {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--light-text-color);
}

.desk-aside::-webkit-scrollbar {
  width: 8px;
}

.desk-aside::-webkit-scrollbar-track {
  background: transparent;
}

.desk-aside::-webkit-scrollbar-thumb {
  background: var(--border-color);
  border-radius: 4px;
}
.side-container {
  position: absolute;
  left: 0;
  z-index: 1000;
  background: var(--background-root);
  height: calc(100% - 106px);
}

.actions-desk {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}
